apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "audit-trail.fullname" . }}-config
  labels:
    {{- include "audit-trail.labels" . | nindent 4 }}
data:
  SPRING_PROFILES_ACTIVE: {{ .Values.config.spring.profiles.active | quote }}
  SERVER_PORT: {{ .Values.config.server.port | default 8080 | quote }}

  # Database
  SPRING_DATASOURCE_URL: "jdbc:postgresql://{{ include "audit-trail.postgresql.host" . }}:{{ include "audit-trail.postgresql.port" . }}/{{ include "audit-trail.postgresql.database" . }}"

  # Elasticsearch
  {{- if or .Values.elasticsearch.enabled .Values.externalElasticsearch.host }}
  SPRING_ELASTICSEARCH_URIS: "http://{{ include "audit-trail.elasticsearch.host" . }}:{{ include "audit-trail.elasticsearch.port" . }}"
  {{- end }}

  # Redis
  {{- if or .Values.redis.enabled .Values.externalRedis.host }}
  SPRING_DATA_REDIS_HOST: {{ include "audit-trail.redis.host" . | quote }}
  SPRING_DATA_REDIS_PORT: {{ include "audit-trail.redis.port" . | quote }}
  {{- end }}

  # Kafka
  {{- if or .Values.kafka.enabled .Values.externalKafka.bootstrapServers }}
  SPRING_KAFKA_BOOTSTRAP_SERVERS: {{ include "audit-trail.kafka.bootstrapServers" . | quote }}
  {{- end }}

  # Logging
  LOGGING_LEVEL_ROOT: {{ .Values.config.logging.level.root | quote }}
  LOGGING_LEVEL_COM_MOHMK10_AUDITTRAIL: {{ index .Values.config.logging.level "com.mohmk10.audittrail" | quote }}

  # JVM Options
  JAVA_OPTS: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0 -XX:+UseG1GC"
